<%= form_for([@post, @post.comments.build], remote: true) do |f| %>
    <div class="field">
      <%= f.text_area :content, autofocus: true, placeholder: 'Your comment', class: 'form-control', style: 'width: 30%' %>
    </div>

    <div class="actions">
      <%= f.submit 'Post Comment', class: 'btn' %>
    </div>
<% end %>
